{% extends 'base.html' %}{% block content %}
<div class="p-3 mb-2 bg-success text-white">
  <h1>
      <center> NOTICIAS </center>
  </h1>
</div>

<div class="card mb-3">
  <!-- <img src="..." class="card-img-top" alt="...">-->
  <div class="card-body">
    <div class="p-3 mb-2 text-black-50">
      <h1>
          <center> ¿QUE SON LAS NOTICIAS? </center>
      </h1>
    </div>
    <p class="card-text">Una noticia es la información sobre un hecho o un conjunto de hechos que, dentro de una comunidad, sociedad o ámbito específico, resulta relevante, novedosa o inusual. </p>
    <p> Para elaborar una noticia, se parte de una fórmula de seis preguntas, que son:</p>
    <ul>
      <li>¿Qué pasó?</li>
      <li>¿A quién le pasó?</li>
      <li>¿Cómo pasó?</li>
      <li>¿Cuándo pasó?</li>
      <li>¿Dónde pasó?</li>
    <li>¿Por qué o para qué ocurrió?</li>
    </ul>
    <p class="card-text text-center"><small class="text-muted">Lunes 10 de Octubre de 2022</small></p>
  </div>
</div>

{% endblock %}