{% extends 'base.html' %}{% block content%}
<div class="p-3 mb-2 bg-success text-white">
<h1>
    <center>EDITAR NOTICIAS</center>
</h1>
</div><br>

<form action="" method="post" >{% csrf_token %}
   <br>
   <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="Titulo "> Titulo </label>
        </div>
        <div class="col-auto">
        {{ form.Titulo }}
        </div>
    </div>
    <br>
   <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label for="Descripcion "> Descripcion </label>
        </div>
        <div class="col-auto">
        {{ form.Descripcion }}
        </div>
    </div>
    <br>
    <input class="btn btn-success btn-xs" type="submit" value="Editar" />
</form>

{% endblock content %}